body, html
{
    background-image: url("../images/Glass Beach.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
button
{
    color: black;
    background: rgb(150, 244, 255);
    text-align: center;
    width: 250px;
    margin: auto;
    padding: 20px;
    border-radius: 50%;
}
.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(167, 241, 243)
}
body
{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}