body, html {
    background-image: url("../images/Matira\ Beeach.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
button
    {
        color: white;
        background: red;
        text-align: center;
        padding: 20px;
                margin: auto;
    }
    .nav
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    h1
    {
        font-family:Arial, Helvetica, sans-serif
    }
    h3
    {
        font-family:Arial, Helvetica, sans-serif
    }
    h5
    {
        font-family:Arial, Helvetica, sans-serif
    }

